In [1]:
from utils import *
import pandas as pd 
import numpy as np

In [2]:
def get_resetter_params(row):
    if "_" in row:
        return float(row.split("_")[-1])
    else:
        return

In [3]:
df = pd.read_csv("../reports/adaptive_schedules/v7.csv.zip")
df = df[~df['resetter'].isin([ 'P-KSWIN_1', 'P-KSWIN_0.5',
       'P-KSWIN_0.125', 'P-KSWIN_0.0625'])] 
df['resetter'] = df['resetter'].replace('P-KSWIN_0.5', 'P-KSWIN')
df["accuracy"] *= 100

In [4]:
df.dataset.unique()

array(['Insects incr.', 'Insects gradual', 'RBF abrupt', 'RBF incr.',
       'SEA', 'Insects abrupt', 'Electricity', 'Covertype'], dtype=object)

In [5]:
# df = df[(df["resetter"] != "P-KSWIN") | (df["reset_lr"] == 0.5)]
df = df[( df["gamma"] == 1 - 2**-12 ) | (df['resetter'] == 'Kuncheva')]
df = df[["dataset", "resetter", "accuracy", 'base_lr', 'seed']]

In [6]:
# Define which data to show in table
datasets = [
    "RBF abrupt",
    "RBF incr.",
    "Covertype",
    "Electricity",
    "Insects abrupt",
    "Insects gradual",
    "Insects incr.",
]
ks = [1, 3]
columns = [(dataset, "accuracy") for dataset in datasets]
for k in ks:
    df = df[df["dataset"].isin(datasets)]
    table = get_topk_results(
        df,
        other_variables=["dataset", "resetter"],
        top_variable="base_lr",
        k=k,
    )
    table = table[["dataset", "resetter", "accuracy_mean", "accuracy_std"]]
    table = col_to_header(table, "dataset", index=["resetter"])
    mask_best = get_best_within_std(
        table, params_fixed=[], metrics=columns, modes="max"
    )
    table = merge_mean_std(table, columns, formats="{:.2f}")
    style = table.style
    style = apply_style_attribute(style, mask=mask_best)
    style.to_latex(f"../pub/tables/lr_resetting_top{k}.tex", hrules=True)

In [7]:
style