In [1]:
from utils import *
import pandas as pd 
import numpy as np 
from tools.base import DATASETS_SYNTH, LRS

In [2]:
df_ks = pd.read_csv("../reports/schedule/KSWIN.csv.zip")
df_rest= pd.read_csv("../reports/schedule/v1.csv.zip")
df_ks

,base_lr,seed,batch_size,n_hidden_layers,n_hidden_units,gamma,factor,max_lr,schedule,optimizer,dataset,step,runtime,accuracy,lr,loss
0,2.000000,0,4,1,NaN,0.999756,1,1,Exponential Reset (KSWIN),SGD,Agrawal,100,0.021948,0.55,1.994152,0.803828
1,2.000000,0,4,1,NaN,0.999756,1,1,Exponential Reset (KSWIN),SGD,Agrawal,200,0.009720,0.65,1.982016,0.699952
2,2.000000,2,4,1,NaN,0.999756,1,1,Exponential Reset (KSWIN),SGD,Agrawal,100,0.021280,0.53,1.994152,0.792061
3,2.000000,0,4,1,NaN,0.999756,1,1,Exponential Reset (KSWIN),SGD,Agrawal,300,0.009619,0.66,1.969954,0.681246
4,2.000000,2,4,1,NaN,0.999756,1,1,Exponential Reset (KSWIN),SGD,Agrawal,200,0.009580,0.65,1.982016,0.738357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2037595,0.003906,4,4,1,NaN,0.999939,1,1,Exponential Reset (KSWIN),SGD,Covertype,99600,0.010822,0.84,0.003906,0.144009
2037596,0.003906,4,4,1,NaN,0.999939,1,1,Exponential Reset (KSWIN),SGD,Covertype,99700,0.010972,0.88,0.003906,0.090634
2037597,0.003906,4,4,1,NaN,0.999939,1,1,Exponential Reset (KSWIN),SGD,Covertype,99800,0.010899,0.70,0.003906,0.152631
2037598,0.003906,4,4,1,NaN,0.999939,1,1,Exponential Reset (KSWIN),SGD,Covertype,99900,0.010984,0.86,0.003906,0.129376
2037599,0.003906,4,4,1,NaN,0.999939,1,1,Exponential Reset (KSWIN),SGD,Covertype,100000,0.010821,0.73,0.003906,0.133193

In [3]:
pd.concat([df_ks, df_rest]).to_csv("../reports/schedule/v1.csv.zip", index=False)

In [4]:
def make_tables(df, datasets, ks, index, fname="schedules"):
    columns = [(dataset, "accuracy") for dataset in datasets]
    for k in ks:
        df = df[df["dataset"].isin(datasets)]
        table = get_topk_results(
            df,
            other_variables=["dataset", index],
            top_variable="base_lr",
            k=k,
        )
        table = table[["dataset", index, "accuracy_mean", "accuracy_std"]]
        table = col_to_header(table, "dataset", index=[index])
        mask_best = get_best_within_std(table, metrics=columns, modes="max")
        table = merge_mean_std(table, columns, formats="{:.2f}")
        style = table.style
        style = apply_style_attribute(style, mask=mask_best)
        style.to_latex(f"../pub/tables/{fname}_top{k}.tex", hrules=True)
    return style


# Define which data to show in table
datasets = [
    "Agrawal",
    "LED",
    "RBF abrupt",
    "RBF incr.",
    "Covertype",
    "Electricity",
    "Insects abrupt",
    "Insects gradual",
    "Insects incr.",
]

In [5]:
df = pd.read_csv("../reports/schedule/v1.csv.zip")
df["accuracy"] *= 100

In [6]:
filter_dicts = [
    {"schedule": "Step", "gamma": 0.75},
    {"schedule": "Step Reset", "gamma": 0.5},
    {"schedule": "Exponential", "gamma": 1 - 2**-13},
    {
        "schedule": "Exponential Reset",
        "gamma": 1 - 2**-12,
    },
    {
        "schedule": "Exponential Reset (KSWIN)",
        "gamma": 1 - 2**-12,
    },
    {
        "schedule": "Exponential Weight Reset",
        "gamma": 1 - 2**-12,
    },
    {"schedule": "Cyclic", "max_lr": 0.250},
    {"schedule": "Fixed"},
    {"schedule": "Kuncheva"},
]
df_table = filter_dataframe(df, filter_dicts)
df_table = df_table[["dataset", "schedule", "accuracy", "base_lr", "seed"]]

In [7]:
ks = [1, 3]
make_tables(df_table, datasets, ks, index="schedule")

In [18]:
df = pd.read_csv("../reports/optimizers/v1.csv.zip")
df['accuracy'] *= 100
df_table = df[["dataset", "optimizer", "accuracy", 'base_lr', 'seed']]

In [19]:
make_tables(df_table, datasets, ks, index="optimizer", fname='optimizers')