In [2]:
from utils import *
import pandas as pd 
import numpy as np

In [33]:
df = pd.read_csv("../reports/schedule/v1.csv.zip")
df["accuracy"] *= 100

In [37]:
filter_dicts = [
    {"schedule": "Step", "gamma": 0.75},
    {"schedule": "Step Reset", "gamma": 0.5},
    {"schedule": "Exponential", "gamma": 1 - 2**-13},
    {
        "schedule": "Exponential Reset",
        "gamma": 1 - 2**-12,
    },
    {
        "schedule": "Exponential Weight Reset",
        "gamma": 1 - 2**-12,
    },
    {"schedule": "Cyclic", "max_lr": 0.250},
    {"schedule": "Fixed"},
    {"schedule": "Kuncheva"},
]
df_table = filter_dataframe(df, filter_dicts)
df_table = df_table[["dataset", "schedule", "accuracy", 'base_lr', 'seed']]

In [39]:
# Define which data to show in table
datasets = [
    "RBF abrupt",
    "RBF incr.",
    "Covertype",
    "Electricity",
    "Insects abrupt",
    "Insects gradual",
    "Insects incr.",
]
ks = [1, 3]
def make_tables(df, datasets, ks, index):
    columns = [(dataset, "accuracy") for dataset in datasets]
    for k in ks:
        df = df[df["dataset"].isin(datasets)]
        table = get_topk_results(
            df,
            other_variables=["dataset", index],
            top_variable="base_lr",
            k=k,
        )
        table = table[["dataset", index, "accuracy_mean", "accuracy_std"]]
        table = col_to_header(table, "dataset", index=[index])
        mask_best = get_best_within_std(table, metrics=columns, modes="max")
        table = merge_mean_std(table, columns, formats="{:.2f}")
        style = table.style
        style = apply_style_attribute(style, mask=mask_best)
        style.to_latex(f"../pub/tables/schedules_top{k}.tex", hrules=True)
    return style


make_tables(df_table, datasets, ks, index="schedule")

In [45]:
df = pd.read_csv("../reports/optimizers/v1.csv.zip")
df['accuracy'] *= 100
df_table = df[["dataset", "optimizer", "accuracy", 'base_lr', 'seed']]

In [46]:
make_tables(df_table, datasets, ks, index="optimizer")